/*! purgecss start ignore */
.site-layout-width-full{
  .container{
    max-width:100% !important;
    margin:0;
    padding:0;
  }
}
.site-layout-width-full:not(.posts-theme-columns){
  .section{
    margin:0;
    padding:0;
  }
}

:root {
  --space-mono: 'Space Mono', sans-serif;
  --work-sans: 'Work Sans', sans-serif;
  --rubik: 'Rubik', sans-serif;
  
  --display: 'Space Mono', sans-serif;
  --copy: 'Work Sans', sans-serif;
  
  --black: #1a0008;
  --white: #fefefe;
  --gray: #e0e0e0;
  --accent: #870028;
  --accent2: #40a3c8;
  --background: #fafafa;
  
  --line-height: 160%;
  
  --h1: 5.6rem;
  --lh1: calc( var(--h1) * 1.15);
  
  --h2: 2.1rem;
  --lh2: calc( var(--h2) * 1.15);
  
  --h3: 1.15rem;
  --lh3: calc( var(--h3) * 1.15);
  
  --p1: 1.10rem;
  --lh-p1: calc( var(--p1) * 1.15);
}

code{
  color:#e7155a;
  background: #f8f8f8;
  border:1px solid #eee;
  padding:1px;
  border-radius:5px;
  font-size:.9em;
}
pre {
  background: #eee;
  padding: 20px;
  overflow-x: auto;

  code {
    background: transparent;
    color: initial;
    border: none;
    padding: 0;
  }
}
.home-page .under-subtitle {
  border-top: none !important;
}

blockquote{
  border:1px solid #eee;
  border-left: 4px solid $primary;
  padding:10px;
}
dt {
  font-weight: bold;
}
/*! purgecss end ignore */
